.menu {
  font-family: Arial,Helvetica,sans-serif;
  color: #c0392b;
}

.menu li {
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
    list-style-type:none;
}

.menu li a {
  background-color: #fefffa;
  letter-spacing: 1px;
  color: #ff6873;
  text-decoration: none;
}

.menu li a:hover {
  color: #c0392b;
}
