ul {
  list-style-type: none;
}

input {
  max-width: 60%;
}

input[type="checkbox"] {
  width: 20px;
  padding: 0;
}

input[type="submit"] {
  background-color: #16a085;
  color: white;
}

button {
  background-color: red;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
}

.contacted {
  text-decoration: line-through;
}
